
.main-body{
    
        width: 42%;
       
        height: auto;
        border: solid thin rgb(97, 90, 90);
        display: inline-block;
        margin-top: 5px;
        font-family: 'Times New Roman', Times, serif;
        background-color:grey;
        padding:25px 49px;
        margin-top: 12%
    
}
.about{
    background-color: grey;
    font-size: 18px;
}
.main-body{
    text-align: center;
    width:30%;
    margin-top: 0%;
    background-color: lightgray;
    margin-left: 33%
    

}
.main-body input[type="text"]{
    width:50%;
    padding: 12px 16px 20px 20px;
}
.main-body input[type="password"]{
    width:50%;
    padding: 12px 16px 20px 20px;
}

#indexcontent{
    background-color: lightgrey;
    width:100%;
    margin-top: 0%;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}
.about h3{
    text-align: left;

}
.profilecontent{
    background-color:lightgrey;
    text-align:center;
    margin-top:10%;
    
}


h3,p{
    clear:both;
    margin-bottom:15px;
    text-align:center
    }


    hr{
    margin-bottom:20px
    }

    
    div#reset{
    width:700px;
    padding:50px 50px 50px;
    background-color:whitesmoke;
    margin-top: 0%;
    margin-left:250px;
    height: 250px;
    
    }

    label{
    font-size:20px
    }

    input{
    width:500px;
    height:30px;
    font-size:14px;
    box-shadow:0 0 5px;
    -webkit-box-shadow:0 0 5px;}
    
    .button {
        background-color:rgb(245, 90, 116); /* Gray */
        border-radius: 5px;
        color: white;
        width:50%;
        padding:15px;
        border-radius: 5px;
        margin: 15px auto;
        width: 50%;
        text-align: center;
        text-decoration: none;
        box-sizing: border-box;
        border-spacing: 15px;
        font-size: 16px;}

    .header{
        color: antiquewhite
    }
    
    @media only screen and (max-width: 800px) {
    input {
            background-color: whitesmoke;
            
        }}
        @media only screen and (min-width: 800px) {
            body {
                    background-color:rgb(11, 73, 83);
                    
                }}


    
   