<!DOCTYPE html>
    <html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>iReporter</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" media="screen" href="signup.css" />
        <script src="signup.js"></script>
    </head>
    <body>
            <div class="inputss">
                <form action="/action_page.php">
                  <label for="fname">First Name</label>
                  <input type="text" id="fname" name="firstname" placeholder="Your first name..">
                  
                  <label for="lname">Last Name</label>
                  <input type="text" id="lname" name="lastname" placeholder="Your last name..">
                  <label for="lname">Password</label>
                  <input type="text" id="lname" name="lastname" placeholder="Password..">
                  <label for="lname">Confirm Password</label>
                  <input type="text" id="lname" name="lastname" placeholder="Confirm Password..">
                  
                  <label for="country">Country</label>
                  <select id="country" name="country">
                    <option value="australia"></option>
                  </select>
                  
                  <input type="submit" value="Submit">
                  </form>
             
            </div>
            
              
                 
    </body>
    </html>