/* Style the profile title */
#myProfile {
    text-align: center;
}

/* Style the update details button */
#updateDetails {
    width: 30%;
    margin-left: 2%;
    margin-top: 5%;
    font-size: 18px;

}

/* Style the nav bar */
.navbar {
    width: 100%;
    background-color: #555;
    overflow: auto;

}

/* Style the navbar links */
.navbar a {
    float: left;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 17px;
}

/* Style the navbar links on hover */
.navbar a:hover {
    background-color: #000;
    height: 30px;
}

.active {
    background-color: crimson;
    height: 30px;

}


.navbar input[type=text] {
    float: right;
    padding: 6px;
    margin-top: 8px;
    margin-right: 16px;
    border: none;
    font-size: 17px;
    border: 1px solid #ccc;
  }
  
  /* Style the navbar text search */
  .navbar button[type=submit] {
    float: right;
    padding: 6px;
    width: 30px;
    height: 34px;
    margin-top: 8px;
  }

/* Style the inputs form */
.inputs {
    margin-top: 20%;
}

/* Style the text boxes in the input form*/
.inputs input[type=text] {
    padding: 6px;
    margin-top: 8px;
    margin-right: 16px;
    border: none;
    font-size: 17px;
}

.inputs input[type=email] {
    padding: 6px;
    margin-top: 8px;
    margin-right: 16px;
    border: none;
    font-size: 17px;
}

.inputs input[type=password] {
    padding: 6px;
    margin-top: 8px;
    margin-right: 16px;
    border: none;
    font-size: 17px;
}

/* Style the update details card */
.right {
    float: right;
    width: 58%;
    margin-top: 63px;
    height: 88%;
    background-color: wheat;
    text-align: center;

}

/* Style the profile card */
.profile {
    width: 700px;
    margin: auto;
    text-align: center;
    font-family: arial;
    height: 550px;
    background-color: aliceblue;
}

/* Style the body */
.body {
    background-color: rgb(49, 136, 136);
}

/* Style the left section of the card */
.left {
    float: left;
    width: 35%;
    margin-right: 4%;
    margin-left: 1%;
    margin-top: 5px;
    height: 100%;
    text-align: center;
}

.avatar {
    vertical-align: left;
    width: 100%;
    height: 250px;
    margin-left: 5px;
    margin-top: 10px;
    background-color: whitesmoke;
}

.avatar img {
    width: 100%;
    height: 220px;
    margin-left: 0px;
    margin-top: 0%;
}

/* Style the left buttons */
.buttons {
    margin-top: 35px;
    vertical-align: left;
    width: 100%;
    height: 200px;
    margin-left: 5px;
    background-color: gray;
    cursor: pointer;
}

button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: black;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

/* Add a background color on hover */
button:hover {
    background-color: lightslategray;
}


/* Add responsiveness for mobile devices */
@media only screen and (min-width: 280px) and (max-width:480px) {
    .navbar {
        width: 90%;
        padding: 5px 1px;
        overflow: auto;

    }

    .left,
    .right {
        width: 100%;
        padding: 0;
    }

    .avatar {
        width: 40%;
        height: 70px;
    }

    .avatar img {
        width: 90%;
        height: 110px;
        margin-left: 80%;
    }

    .profile {
        width: 90%;
        margin-left: 2%;
    }

    .buttons {
        margin-top: 45px;
        width: 90%;
        height: 100px;
    }

    .left {
        height: 50%;
    }

    .right {
        height: 55%;
    }

}

/* Add responsiveness for tablet device */
@media only screen and (min-width:481px) and (max-width:780px) {

    .navbar {
        width: 100%;
        padding: 5px 1px;
        overflow: auto;

    }

    .left,
    .right {
        width: 100%;
        padding: 0;
    }

    .avatar {
        width: 40%;
        height: 70px;
    }

    .avatar img {
        width: 90%;
        height: 110px;
        margin-left: 80%;
    }

    .profile {
        width: 100%;
        margin-left: 2%;
    }

    .buttons {
        margin-top: 45px;
        width: 95%;
        height: 100px;
    }

    .left {
        height: 50%;
    }

    .right {
        height: 55%;
    }

    .inputs {
        margin-top: 5%;
    }
}