/* Style the form label */
label {
    font-size: 20px;
    margin-left: 40%;
}

/* Style the input boxes */
input {
    width: 350px;
    height: 30px;
    font-size: 14px;
    text-align: center;
    margin-left: 11%;
}

/* Style the login button */
.button {
    background-color: rgb(245, 90, 116);
    border-radius: 5px;
    color: white;
    padding: 15px;
    height: 1%;
    width: 40%;
    margin-left: 30%;
    margin-top: 7%;
    font-size: 16px;
}

/* Style the title */
.header {
    color: antiquewhite;
}

/* Style the form body */
.reset {
    height: 460px;
    width: 500px;
    border-radius: 5px;
    background-color: bisque;
    margin-left: 430px;
}

/* Style the body */
body {
    background-color:rgb(5, 45, 85);

}
/* Style the forgot password query */
#reminder {
    text-align: center;
    margin-top: 10px;
}

/* Add responsiveness for a mobile device */
@media only screen and (min-width: 280px) and (max-width:480px) {
    input {
        background-color: antiquewhite;
        width: 70%;
        margin-left: 10%;

    }

    body {
        background-color: rgb(57, 104, 57);

    }

    label {
        margin-left: 40%;
    }

    .reset {
        height: auto;
        width: 100%;
        background-color: bisque;
        margin-left: 1%;
    }

}

/* Add responsiveness for tablet device */
@media only screen and (min-width:481px) and (max-width:780px) {
    input {
        background-color: antiquewhite;
        width: 70%;
        margin-left: 15%;
        margin-top: 50px;

    }

    body {
        background-color: rgb(57, 104, 57);

    }

    label {
        margin-left: 40%;

    }

    .reset {
        height: 700px;
        width: 98%;
        background-color: bisque;
        margin-left: 1%;
        
    }

}

/* Add responsiveness for smaller screen laptops */
@media only screen and (min-width:781px) and (max-width:1080px) {
    input {
        background-color: antiquewhite;
        width: 80%;
        margin-left: 10%;
        margin-top: 50px;

    }

    body {
        background-color: rgb(5, 45, 85);

    }

    label {
        margin-left: 40%;
    }

    .reset {
        height: 800px;
        width: 80%;
        background-color: bisque;
        margin-left: 10%;
       
    }

}
