/* Style the navbar */
.navbar {
  width: 100%;
  background-color: #555;
  overflow: auto;
}

.navbar a {
  float: left;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background-color: #000;
  height: 30px;
}

.active {
  background-color: crimson;
  height: 30px;

}

.navbar input[type=text] {
  float: right;
  padding: 6px;
  margin-top: 8px;
  margin-right: 16px;
  border: none;
  font-size: 17px;
  border: 1px solid #ccc;
}

/* The alert message box */
.alert {
  padding: 20px;
  background-color: #f44336;
  /* Red */
  color: white;
  margin-bottom: 50px;
}

/* The close button */
.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
  color: black;
}
/* Style the notifications panel */
.notifications {
  height: 550px;
  width: 600px;
  margin-top: 20px;
  background-color: sandybrown;
  margin-left: 350px;

}

/* Add responsiveness for a mobile device */
@media only screen and (min-width: 280px) and (max-width:480px) {
  .notifications {
    margin-left: 0%;
    height: 90%;
    width: 100%;
  }

  .alert {
    width: 85%;
  }
}

/* Add responsiveness for tablet device */
@media only screen and (min-width:481px) and (max-width:780px) {
  .notifications {
    margin-left: 0%;
    height: 90%;
    width: 100%;
  }

  .alert {
    width: 85%;
  }
}