/* Style the nav bar */
.navbar {
  width: 100%;
  background-color: #555;
  overflow: auto;
}

.navbar a {
  float: left;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background-color: #000;
  height: 30px;
}

.active {
  background-color: crimson;
  height: 30px;

}

.navbar input[type=text] {
  float: right;
  padding: 6px;
  margin-top: 8px;
  margin-right: 16px;
  border: none;
  font-size: 17px;
  border: 1px solid #ccc;
}

/* Style the navbar text search */
.navbar button[type=submit] {
  float: right;
  padding: 6px;
  width: 30px;
  height: 34px;
  margin-top: 8px;
}


.reports {
  width: 700px;
  height: 550px;
  text-align: center;
  background-color: antiquewhite;
  margin-left: 300px;
  margin-top:50px;
}

.issuetittle {
  margin-top: 2px;
}

.textss {
  margin-left: 5px;
}

.description {
  margin-left: 5px;
}

.btn-group {
  margin-left: 10px;
  border-radius: 2px;
  height: 40px;
  margin-top:10px;
}

.checkbox {
  margin-left: 60px;
  text-align: left
}

/* Style the text area boxes */
#textareaone {
  width: 70%;
  height: 50px;
}

#textareatwo {
  width: 90%;
  height: 100px;
}

/* Add responsiveness for a mobile device */
@media only screen and (min-width: 280px) and (max-width:480px) {
  .navbar {
    width: 100%;
  }

  .reports {
    width: 100%;
    height: auto;
    margin-left: 0%;
  }

  #textareaone {
    width: 80%;
  }
}

/* Add responsiveness for tablet device */
@media only screen and (min-width:481px) and (max-width:780px) {
  .navbar {
    width: 100%;
  }

  .reports {
    width: 100%;
    height: auto;
    margin-left: 0%;
  }

  #textareaone {
    width: 80%;
  }
}
